// variables
$light-bg: #fff;
$dark-bg: #2b2b2b;
$bg-primary: rgba(163, 104, 158, 0.877);
$bg-secondary: rgba(0, 128, 0, 0.829);
$text-white: #fff;
$text-dark: rgba(14, 0, 0, 0.87);

$boxHeight: 100px;
$boxWidth: 250px;
$boxTextColor: #fff;
$boxBgColor: tomato;
$boxMarginBottom: 1rem;
